<!DOCTYPE html>
<html>
<head>
  <title>ForemElasticsearch</title>
  <%= stylesheet_link_tag    "forem_elasticsearch/application", media: "all" %>
  <%= javascript_include_tag "forem_elasticsearch/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
